body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #18BC9C;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background: linear-gradient(to right, #2C3E50, #34495E);
    color: white;
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 0.5em;
    font-weight: 700;
}

input, textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #2C3E50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1A252F;
}

footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

footer a:hover {
    color: #FFDD57;
}