body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #002244; /* Darker navy blue */
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    cursor: pointer;
}

header h1:hover {
    color: #a2d5ab; /* Pale green hover effect */
}

header h1 span {
    color: #a2d5ab; /* Pale green */
}

header .tagline {
    font-size: 1.2em;
    font-style: italic;
    margin: 0.5em 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #a2d5ab; /* Hover color pale green */
}

main {
    padding: 2em;
    background-color: #d9d9d9; /* Light grey background */
}

section {
    padding: 2em;
    margin: 1em 0;
    background-color: white; /* Light grey */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #002244; /* Darker navy blue */
}

p {
    line-height: 1.6;
}

ul {
    margin: 1em 0;
    padding: 0 1em;
}

ul li {
    margin-bottom: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form label {
    font-weight: bold;
    margin-top: 1em;
}

form input, form textarea {
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
}

form button {
    padding: 0.75em;
    background-color: #002244; /* Darker navy blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1em; /* Adds margin below the button */
}

form button:hover {
    background-color: #00152e; /* Darker navy blue hover */
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #002244; /* Darker navy blue */
    color: white;
}

footer a {
    color: white; /* White email link */
    text-decoration: none;
}

footer a:hover {
    color: #a2d5ab; /* Hover color pale green */
}
